<div style="margin-top: 10px">
  <div class="custom-file">
    <!-- quando o usuario seleciona um arquivo, acontece a mudanca de change, o que precisamos ouvir no angular, onChange vai escutar o evento de mudanca
    o evento é onde contem as informacoes do arquivo-->
    <input
      type="file"
      class="custom-file-input"
      id="customFile"
      (change)="onChange($event)"
      multiple
    /> <!-- multiple é para pehar mais de um arquivo-->

    <label class="custom-file-label" for="customFile" id="customFileLabel"
      >Selecionar Arquivo</label
    >
  </div>
  <div class="progress">
    <div
      class="progress-bar"
      role="progressbar"
      [style.width]="progress + '%'"
    >
      {{ progress }}%
    </div>
  </div>
</div>
<!-- essa parte é do upload de arquivo-->
<div style="margin-top: 10px">
  <button type="button" class="btn btn-primary" (click)="onUpload()" [disabled]="!files">
    Upload
  </button>
</div>
<div style="margin-top: 10px">
  <button type="button" class="btn btn-primary" (click)="onDownloadExcel()">
    Download Excel
  </button>
  <button type="button" class="btn btn-primary" (click)="onDownloadPDF()">
    Download PDF
  </button>
</div>
